:root {
  --red: hsl(14, 86%, 42%);
  --rose900: hsl(14, 65%, 9%);
  --rose500: hsl(14, 20%, 44%);
  --rose400: hsl(7, 20%, 60%);
  --rose300: hsl(14, 25%, 72);
  --rose100: hsl(13, 31%, 94%);
  --rose50: hsl(20, 50%, 98%);
  --green: hsl(159, 69%, 38%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
}
