.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: var(--rose50);
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
  text-align: center;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-inline-end: auto;
  }

  .cart__order__total {
    margin-block: 0 24px;
  }
}

.modal-container.visually-hidden {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.modal-overlay.show {
  display: block;
}

.modal-bg {
  background-color: var(--rose50);
}

.modal__description {
  align-items: flex-start;
}

.modal__total {
  width: 100%;
  margin-block-end: 24px;
}

.modal__heading {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  margin-inline-end: auto;

  p {
    color: var(--rose500);
    margin-block: 8px 16px;
  }
}

.modal__check {
  width: 40px;
  margin-block-end: 32px;
}
